mat-form-field {
    width: 300px;
}

body {
    /* background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0'); */
    /* background-image: url('assets/background-gym.png'); */

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* .signup-form {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    opacity: 0.3;
} */

/* 
.signup-form {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */